@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
	--main-col: #3580c2;
	--second-col: #00a2d5;
	--third-col: #00c0cc;
	--fourth-col: #00daae;
	--fifth-col: #f9f871;

	--green-btn: #28a745;
}



body {
	/*background-color: white;*/
	/*background-color: #68b3a5;*/
	background-color: #3580c2;
}


@import "./forms.scss";

@media only screen and (max-width: 720px) {
	.boxgrid .card .card-title .vcficon {
		display: none;
	}
}
